/* ------------------------------

███╗   ██╗███████╗    ██████╗  █████╗ ███████╗    ████████╗ ██████╗ ██╗   ██╗ ██████╗██╗  ██╗███████╗██████╗ 
████╗  ██║██╔════╝    ██╔══██╗██╔══██╗██╔════╝    ╚══██╔══╝██╔═══██╗██║   ██║██╔════╝██║  ██║██╔════╝██╔══██╗
██╔██╗ ██║█████╗      ██████╔╝███████║███████╗       ██║   ██║   ██║██║   ██║██║     ███████║█████╗  ██████╔╝
██║╚██╗██║██╔══╝      ██╔═══╝ ██╔══██║╚════██║       ██║   ██║   ██║██║   ██║██║     ██╔══██║██╔══╝  ██╔══██╗
██║ ╚████║███████╗    ██║     ██║  ██║███████║       ██║   ╚██████╔╝╚██████╔╝╚██████╗██║  ██║███████╗██║  ██║
╚═╝  ╚═══╝╚══════╝    ╚═╝     ╚═╝  ╚═╝╚══════╝       ╚═╝    ╚═════╝  ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
*/
body {
    margin:0;
    padding:0;
}

h2 {
    padding:20px;
}

hr~p {
    padding:20px;
}

/*
███████╗██╗███╗   ██╗
██╔════╝██║████╗  ██║
█████╗  ██║██╔██╗ ██║
██╔══╝  ██║██║╚██╗██║
██║     ██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═══╝
*/


/*
Exo 1
*/



/*
Exo 2
*/



/*
Exo 3
*/



/*
Exo 4
*/



/*
Exo 5
*/




/*
    Exo 6
*/

